<script>
export default {
  props: ["title", "index"],
};
</script>

<template>
  <div class="tilecolumn">
    <div class="tile">
      <h4>{{ title }}</h4>
    </div>
    <div class="keytile">
      {{ index + 1 }}
    </div>
  </div>
</template>

<style scoped>
.tilecolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
.tile {
  width: 5rem;
  height: 5rem;
  text-align: center;
  border: solid 1px #292929;
  border-radius: 3px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 1px #292929);
  background-color: rgb(155, 46, 18);
  color: #fff;
  text-shadow: -1px -2px 2px #292929, 0 0 0 #000, -1px -2px 2px #292929;
}
.tile:hover {
  background-color: rgb(124, 50, 31);
}
h4 {
  font-family: "Chonburi", "Times New Roman", serif;
  font-size: 2.2em;
  font-weight: 900;
  margin-top: 25%;
}

.keytile {
  width: 3rem;
  height: 2rem;
  text-align: center;
  border: solid 1px #d2d2d2;
  border-radius: 3px;
  margin-top: 1rem;
  padding-top: 15%;
  color: #c9c9c9;
}

@media screen and (max-width: 1023px) {
  .tilecolumn {
    padding: 0.5rem;
  }
  .tile {
    width: 4rem;
    height: 4rem;
  }
  h4 {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 767px) {
  .keytile {
    display: none;
  }
  .tilecolumn {
    padding: 0.3rem;
  }
  .tile {
    width: 3rem;
    height: 3rem;
  }
  h4 {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 519px) {
  .tile {
    width: 2rem;
    height: 2rem;
  }
  h4 {
    font-size: 1.1em;
  }
}
</style>
