<script>
import NumberTile from "./NumberTile.vue";

export default {
  components: {
    NumberTile,
  },
  data() {
    return {
      tiles: [
        { id: 1, value: 1 },
        { id: 2, value: 2 },
        { id: 3, value: 3 },
        { id: 4, value: 4 },
        { id: 5, value: 5 },
        { id: 6, value: 6 },
        { id: 7, value: 7 },
        { id: 8, value: 8 },
        { id: 9, value: 9 },
      ],
      moves: 0,
      match: false,
      startTime: null,
      endTime: null,
      runningTime: "",
      clipText: "",
      copied: false,
    };
  },
  mounted() {
    this.restart();
    this.updateRunningTime();
  },
  methods: {
    randomizeTiles() {
      const tiles = this.shuffle(this.tiles);
      const tileList = tiles.map(function (tile) {
          return tile.value;
      });
      this.clipText = '[' + tileList + ']';
    },
    updateRunningTime() {
      setInterval(() => {
        let runningTimeText = "";
        if (this.startTime === null) {
          return;
        }
        let startTime = this.startTime.getTime();
        let endTime = new Date().getTime();
        if (this.endTime !== null) {
          endTime = this.endTime.getTime();
        }

        let timeDiff = Math.abs(endTime - startTime);
        let seconds = Math.floor(timeDiff / 1000);
        if (timeDiff < 1000 * 60) {
          this.runningTime = seconds + " seconds";
        } else if (timeDiff < 1000 * 60 * 60) {
          let minutes = Math.floor(timeDiff / 1000 / 60);
          this.runningTime =
            minutes + " minutes " + (seconds - minutes * 60) + " seconds";
        }
      }, 200);
    },
    shuffle(array) {
      let currentIndex = array.length,
        randomIndex;

      while (currentIndex != 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex],
          array[currentIndex],
        ];
      }

      return array;
    },
    reverse(tileIndex) {
      let arrayStart = this.tiles.slice(0, tileIndex + 1).reverse();
      let arrayEnd = this.tiles.slice(tileIndex + 1);
      this.tiles = [...arrayStart, ...arrayEnd];
      this.checkOrder();
      this.moves++;
    },
    checkOrder() {
      let matchOrder = true;
      for (let i = 0; i < this.tiles.length; i++) {
        if (this.tiles[i].value !== i + 1) {
          matchOrder = false;
          continue;
        }
      }
      if (matchOrder) {
        this.endTime = new Date();
      }
      this.match = matchOrder;
    },
    restart() {
      this.moves = 0;
      this.match = false;
      this.randomizeTiles();
      this.startTime = new Date();
      this.endTime = null;
      this.copied = false;
    },
    share() {
      let self = this;
      this.clipText += ' in ' + this.moves + ' moves';
      navigator.clipboard.writeText(this.clipText).then(function() {
        self.copied = true;
      });
    },
    keyUp(ev) {
      const keyboardZero = 48;
      const numpadZero = 96;

      if (ev.keyCode >= keyboardZero && ev.keyCode < keyboardZero + 10) {
        this.reverse(ev.keyCode - keyboardZero - 1);
      } else if (ev.keyCode >= numpadZero && ev.keyCode < numpadZero + 10) {
        this.reverse(ev.keyCode - numpadZero - 1);
      } else if (
        this.match &&
        (ev.keyCode === 32 || ev.keyCode === 13 || ev.keyCode === 10)
      ) {
        this.restart();
      }
    },
  },
  created: function () {
    document.addEventListener("keyup", this.keyUp);
  },
  unmounted: function () {
    document.removeEventListener("keyup", this.keyUp);
  },
};
</script>

<template>
  <div @keyup.enter="keyUp">
    <div class="scoreboard">
      <div class="logo">
        <h1>Reverse</h1>
      </div>
      <div class="time">
        {{ this.runningTime }}
      </div>
      <div class="moves">{{ this.moves }} moves</div>
    </div>
    <div class="tiles">
      <NumberTile
        v-for="(tile, index) in tiles"
        :key="tile.id"
        :title="tile.value"
        :index="index"
        @click="reverse(index)"
      ></NumberTile>
    </div>
    <div class="message" v-show="this.match">
      <p class="status">Sorted in {{ this.moves }} moves</p>
      <div class="buttons">
        <button @click="restart()">New Game</button>
        <button @click="share()">Copy &amp; Share</button>
      </div>
    </div>
    <div class="message" v-show="this.moves === 0">
      <p class="status">Order tiles from smallest to largest</p>
      <p class="status">Select a tile or type a number to sort from the left</p>
    </div>
    <div class="message" v-show="this.copied">
      <p class="status">Copied to clipboard</p>
    </div>
  </div>
</template>

<style scoped>
.scoreboard {
  font-family: "Chonburi", "Times New Roman", serif;
  height: 4rem;
  width: 100vw;
  background-color: rgb(16, 32, 36);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.logo {
  padding-left: 2rem;
}
.logo h1 {
  margin-top: 1rem;
  font-size: 2rem;
}
.time {
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 1.4rem;
}
.moves {
  font-size: 1.4rem;
  font-weight: 900;
  margin-top: 1.2rem;
  padding-right: 2rem;
}
.status {
  font-size: 1.4rem;
  font-weight: 600;
  color: #9c9c8f;
}
.tiles {
  display: flex;
  width: fit-content;
  margin: 4rem auto 0;
}
.message {
  text-align: center;
  margin-top: 2rem;
  color: #6a6a66;
}
button {
  background-color: rgb(16, 32, 36);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 4px 20px;
  margin: 0 0.5em;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 10px;
  }
  .status {
    font-size: 1rem;
  }
  .time,
  .moves {
    font-size: 0.9rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 519px) {
  .time,
  .moves {
    margin-top: 1.2rem;
  }
}
</style>
