<script setup>
import ReverseTiles from './components/ReverseTiles.vue'
</script>

<template>
    <div class="wrapper">
      <ReverseTiles />
    </div>
</template>

<style>
html,
body {
  margin: 0;
}
body {
  font-size: 14px;
}
</style>
